services:
  blog:
    build: .
    ports:
      - "4000:4000"
      - "35729:35729"
    environment:
      JEKYLL_ENV: development
    volumes:
      - .:/srv/jekyll
      - bundle_cache:/usr/local/bundle

volumes:
  bundle_cache:
