---
layout: default
---

<div class="filter-bar">
    <span class="tab-button-container">
        <button class="tab-button" data-filter="26" onclick="filterPosts('26')">[26]</button>
    </span>
    <span class="vertical-bar">|</span>
    <span class="tab-button-container">
        <button class="tab-button" data-filter="25" onclick="filterPosts('25')">25</button>
    </span>
    <span class="vertical-bar">|</span>
    <span class="tab-button-container">
        <button class="tab-button" data-filter="24" onclick="filterPosts('24')">24</button>
    </span>
    <span class="vertical-bar">|</span>
    <span class="tab-button-container">
        <button class="tab-button" data-filter="23" onclick="filterPosts('23')">23</button>
    </span>
    <span class="vertical-bar">|</span>
    <span class="tab-button-container">
        <button class="tab-button" data-filter="all" onclick="filterPosts('all')">all</button>
    </span>
    <span class="vertical-bar">|</span>
    <span class="tab-button-container">
        <button class="tab-button" data-filter="fav" onclick="filterPosts('fav')">fav</button>
    </span>
    <span class="description-separator"> &gt;&gt;</span>
    <div class="description" id ="description">all posts</div>
</div>



<div id = "posts-container">
    {% assign has_post = false %}
    {% for post in site.posts %}
        {% if post.private == true %}
            {% continue %}
        {% endif %}
    
        <div class="post-card" data-year='{{ post.date | date: "%y" }}' data-fav="{% if post.fav == true or post.fav == 'y' %}y{% else %}n{% endif %}">
            <a class="title" href="{{site.baseurl}}{{ post.url }}">
                {{ post.title }}
            </a>
    
            <div class="details">
                <b>{{ post.date | date: "%d %B %Y" }}</b>
                <br>
                {% if post.tags %}
                    <b>[</b>
                    {% for tag in post.tags %}
                        <a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>{% if forloop.last == false %},{% endif %}
                    {% endfor %}
                    <b>]</b>
                {% endif %}
            </div>
            <div class="subtitle">
                {{ post.subtitle }}
            </div>
        </div>
        <hr class="post-separator">
        {% assign has_post = true %}
    {% endfor %}
    {% if has_post == false %}
        <div class="no-post">I've lost the ink pot. Check back later...</div>
    {% endif %}
</div>



<script>
    function filterPosts(tag) {
        var posts = document.querySelectorAll('.post-card');
        var separators = document.querySelectorAll('.post-separator')
        posts.forEach(function(post, index) {
            var postYear = post.dataset.year;
            var postFav = post.dataset.fav;

            if (tag === 'all') {
                post.style.display = 'block';
                separators[index].style.display="block";
            }
            else if (tag === 'fav' && postFav === 'y') {
                post.style.display = 'block';
                separators[index].style.display="block";
            }
            else if (postYear === tag) {
                post.style.display = 'block';
                separators[index].style.display="block";
            }    
            else {
                post.style.display = 'none';
                separators[index].style.display="none";
            }
        });

        changeTheme(tag);
        updateButtons(tag);
    }

    function duskTheme(body) {
        // body.style.backgroundImage = "url('/assets/minimal-night.webp')";  // Replace with your image path
        // body.style.backgroundAttachment = 'fixed';
        // body.style.backgroundRepeat = 'no-repeat';
        // body.style.backgroundSize = 'auto 100%';
    }

    function dawnTheme(body) {
        // body.style.backgroundImage = "url('/assets/minimal-night.webp')";    // Replace with your image path

    }

    function regularTheme(body) {

    }

    function changeTheme(tag) {
        var body = document.body;
        
        regularTheme(body);
    }

    function updateButtons(filter) {
        let descriptionText = '';

        const map = new Map();
        
        map.set('26', '26');
        map.set('25', '25');
        map.set('24', '24');
        map.set('23', '23');
        map.set('all', 'all');
        map.set('fav', 'fav');

        switch(filter) {
            case '26':
                descriptionText = 'posts from 2026';
                break;
            case '25':
                descriptionText = 'posts from 2025';
                break;
            case '24':
                descriptionText = 'posts from 2024';
                break;
            case '23':
                descriptionText = 'posts from 2023';
                break;
            case 'all':
                descriptionText ='all posts';
                break;
            case 'fav':
                descriptionText = 'favorite posts';
                break;
        }

        // document.getElementById('description').innerText = descriptionText;

        typeWriterEffect(descriptionText);
        
        document.querySelectorAll('.tab-button').forEach(button => {
            button.innerText = button.dataset.filter === filter ? `[${map.get(button.dataset.filter)}]` : map.get(button.dataset.filter);
        })
    }

    let typingInterval; // Variable to hold the typing interval
    let currentMessage = ''; // Variable to hold the current message

    function typeWriterEffect(message) {
        // Clear the previous typing interval if it exists
        clearInterval(typingInterval);
        const descriptionElement = document.getElementById('description');
        descriptionElement.innerText = ''; // Clear previous text
        currentMessage = message; // Store the current message
        let i = 0;
        const speed = 80; // Speed of typing in milliseconds

        typingInterval = setInterval(() => {
            if (i < currentMessage.length) {
                const char = currentMessage.charAt(i);
                // Use a non-breaking space to preserve spaces
                descriptionElement.innerText += (char === ' ') ? '\u00A0' : char;
                i++;
            } else {
                clearInterval(typingInterval); // Stop typing when done
            }
        }, speed);
    }

    function applyDefaultFilter() {
        filterPosts('26');
    }
    document.addEventListener('DOMContentLoaded', () => {
            applyDefaultFilter();
            typeWriterEffect("posts from 2026");
    });
</script>
