---
layout: default
---

<div class="page-subtitle">
    <span class="post-byline">By {{ site.author }} - &lt; {{ site.email_obfuscated }} &gt;</span>
    <br>
    {% for tag in page.tags %}
        {% if page.tags.first == tag %}
            <b>[</b>
        {% endif %}
        <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
        {% if page.tags.last == tag %}
            <b>]</b>
        {% else %}
            ,
        {% endif %}
    {% endfor %}
</div>

{{content}}

<div class="author-box">{{ site.author_box }}</div>
